@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 2px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #868687;
  border-radius: 20px;
}